In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [47]:
import numpy as np

# Extract CSV into Data Frames

In [102]:
bitcoin_file = "/Users/roas/Desktop/ETL_project/resources/bitcoin_dataset.csv"

In [103]:
tcp_dollar_peso_file = '/Users/roas/Desktop/ETL_project/resources/tpc_11_19.csv'

In [24]:
bitcoin_df = pd.read_csv(bitcoin_file)

In [104]:
tcp_df = pd.read_csv(tcp_dollar_peso_file)

In [28]:
bitcoin_df.head(2)

,Date,btc_market_price,btc_total_bitcoins,btc_market_cap,btc_trade_volume,btc_blocks_size,btc_avg_block_size,btc_n_orphaned_blocks,btc_n_transactions_per_block,btc_median_confirmation_time,...,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_unique_addresses,btc_n_transactions,btc_n_transactions_total,btc_n_transactions_excluding_popular,btc_n_transactions_excluding_chains_longer_than_100,btc_output_volume,btc_estimated_transaction_volume,btc_estimated_transaction_volume_usd
0,2010-02-23 00:00:00,0.0,2110700.0,0.0,0.0,0.0,0.000216,0.0,1.0,0.0,...,25100.000000,0.0,252.0,252.0,42613.0,252.0,252.0,12600.0,50.0,0.0
1,2010-02-24 00:00:00,0.0,2120200.0,0.0,0.0,0.0,0.000282,0.0,1.0,0.0,...,179.245283,0.0,195.0,196.0,42809.0,196.0,196.0,14800.0,5300.0,0.0

In [33]:
bitcoin_df.columns

Index(['Date', 'btc_market_price', 'btc_total_bitcoins', 'btc_market_cap',
       'btc_trade_volume', 'btc_blocks_size', 'btc_avg_block_size',
       'btc_n_orphaned_blocks', 'btc_n_transactions_per_block',
       'btc_median_confirmation_time', 'btc_hash_rate', 'btc_difficulty',
       'btc_miners_revenue', 'btc_transaction_fees',
       'btc_cost_per_transaction_percent', 'btc_cost_per_transaction',
       'btc_n_unique_addresses', 'btc_n_transactions',
       'btc_n_transactions_total', 'btc_n_transactions_excluding_popular',
       'btc_n_transactions_excluding_chains_longer_than_100',
       'btc_output_volume', 'btc_estimated_transaction_volume',
       'btc_estimated_transaction_volume_usd'],
      dtype='object')

In [30]:
tcp_df.head(2)

      Fecha    Dolar
0  03/01/11  12.2574
1  04/01/11  12.2619

# Transform Data Frame

Date     btc_market_price      btc_total_bitcoins     btc_cost_per_transaction_percent    btc_n_transactions_total

In [51]:
new_bitcoin_df = bitcoin_df.copy()

In [52]:
columns_remove = [ 'btc_market_cap',
       'btc_trade_volume', 'btc_blocks_size', 'btc_avg_block_size',
       'btc_n_orphaned_blocks', 'btc_n_transactions_per_block',
       'btc_median_confirmation_time', 'btc_hash_rate', 'btc_difficulty',
       'btc_miners_revenue', 'btc_transaction_fees','btc_n_unique_addresses', 'btc_n_transactions',
       'btc_n_transactions_excluding_popular',
       'btc_n_transactions_excluding_chains_longer_than_100',
       'btc_output_volume', 'btc_estimated_transaction_volume']

In [53]:
new_bitcoin_df.drop(columns_remove, axis = 1, inplace = True)

In [54]:
new_bitcoin_df.columns

Index(['Date', 'btc_market_price', 'btc_total_bitcoins',
       'btc_cost_per_transaction_percent', 'btc_cost_per_transaction',
       'btc_n_transactions_total', 'btc_estimated_transaction_volume_usd'],
      dtype='object')

In [55]:

new_bitcoin_df.dtypes

Date                                     object
btc_market_price                        float64
btc_total_bitcoins                      float64
btc_cost_per_transaction_percent        float64
btc_cost_per_transaction                float64
btc_n_transactions_total                float64
btc_estimated_transaction_volume_usd    float64
dtype: object

In [56]:
new_bitcoin_df['Date'] = pd.to_datetime(new_bitcoin_df['Date'])

In [57]:
new_bitcoin_df.dtypes

Date                                    datetime64[ns]
btc_market_price                               float64
btc_total_bitcoins                             float64
btc_cost_per_transaction_percent               float64
btc_cost_per_transaction                       float64
btc_n_transactions_total                       float64
btc_estimated_transaction_volume_usd           float64
dtype: object

In [58]:
new_bitcoin_df['Date'].min()

Timestamp('2010-02-23 00:00:00')

In [59]:
new_bitcoin_df['Date'].max()

Timestamp('2018-02-20 00:00:00')

In [61]:
new_bitcoin_df['Date'].nunique()

2920

### Review TCP Data Frame to leave it with the same period of time

In [105]:
tcp_df.dtypes

Fecha     object
Dolar    float64
dtype: object

In [106]:
tcp_df['Fecha'] = pd.to_datetime(tcp_df['Fecha'])

In [107]:
tcp_df.dtypes

Fecha    datetime64[ns]
Dolar           float64
dtype: object

In [67]:
tcp_df['Fecha'].min()

Timestamp('2011-01-02 00:00:00')

In [68]:
tcp_df['Fecha'].max()

Timestamp('2019-12-06 00:00:00')

### The dates while start at 2011-01-02 and will end 2018-02-20 for both datasets

In [71]:
new_bitcoin_df.set_index('Date', inplace=True)

In [72]:
new_bitcoin_df.head(5)

,btc_market_price,btc_total_bitcoins,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_transactions_total,btc_estimated_transaction_volume_usd
Date,,,,,,
2010-02-23,0.0,2110700.0,25100.000000,0.0,42613.0,0.0
2010-02-24,0.0,2120200.0,179.245283,0.0,42809.0,0.0
2010-02-25,0.0,2127600.0,1057.142857,0.0,42959.0,0.0
2010-02-26,0.0,2136100.0,64.582059,0.0,43135.0,0.0
2010-02-27,0.0,2144750.0,1922.222222,0.0,43311.0,0.0

In [77]:
bitcoin_db = new_bitcoin_df.loc['2011-01-02':'2018-02-20'].copy()
bitcoin_db

,btc_market_price,btc_total_bitcoins,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_transactions_total,btc_estimated_transaction_volume_usd
Date,,,,,,
2011-01-02,0.299996,5036250.0,54.382899,4.553059,219086.0,4.965000e+03
2011-01-03,0.299998,5044450.0,50.784056,2.883920,219939.0,4.844000e+03
2011-01-04,0.299899,5051550.0,23.791228,1.714398,221181.0,8.950000e+03
2011-01-05,0.298998,5059050.0,47.252878,1.881279,222373.0,4.746000e+03
2011-01-06,0.299000,5066400.0,43.499052,2.585471,223223.0,5.052000e+03
2011-01-07,0.322000,5073600.0,43.711935,2.634545,224103.0,5.304000e+03
2011-01-08,0.322898,5083200.0,33.636942,2.226883,225495.0,9.216000e+03
2011-01-09,0.322998,5090800.0,49.906015,2.057657,226688.0,4.919000e+03
2011-01-10,0.329000,5099150.0,28.590946,2.022938,228046.0,9.608000e+03
2011-01-11,0.329000,5107250.0,24.393742,2.111648,229308.0,1.092500e+04
2011-01-12,0.350000,5115600.0,15.380039,2.370235,230541.0,1.900200e+04
2011-01-13,0.405000,5124850.0,30.693697,2.947482,231812.0,1.220500e+04
2011-01-14,0.450000,5133550.0,18.692768,3.046693,233097.0,2.094400e+04
2011-01-15,0.400000,5142150.0,17.497831,3.690987,234029.0,1.966000e+04
2011-01-16,0.400000,5150800.0,60.784543,3.369036,235056.0,5.692000e+03
2011-01-17,0.400000,5159450.0,16.284036,4.240196,235872.0,2.124800e+04
2011-01-18,0.386790,5167250.0,17.388300,3.467772,236742.0,1.735100e+04
2011-01-19,0.340100,5176100.0,21.160688,3.112601,237709.0,1.422400e+04
2011-01-20,0.367500,5184500.0,21.474567,3.644628,238556.0,1.437500e+04
2011-01-21,0.440000,5193400.0,40.215899,3.740210,239603.0,9.737000e+03
2011-01-22,0.429900,5201600.0,27.235500,2.463438,241034.0,1.294300e+04
2011-01-23,0.444300,5210100.0,20.577153,3.519618,242107.0,1.835300e+04
2011-01-24,0.443000,5219100.0,27.566833,2.988756,243441.0,1.446300e+04
2011-01-25,0.425000,5226900.0,34.556762,3.435233,244406.0,9.593000e+03
2011-01-26,0.425000,5236650.0,49.602652,4.206853,245391.0,8.354000e+03
2011-01-27,0.417400,5244650.0,1.367418,3.710222,246291.0,2.441970e+05
2011-01-28,0.450000,5252800.0,4.826765,3.540058,247327.0,7.598300e+04
2011-01-29,0.446000,5260300.0,37.050485,2.593023,248617.0,9.028000e+03
2011-01-30,0.480000,5268500.0,55.346441,1.786655,250820.0,7.112000e+03
2011-01-31,0.500000,5276000.0,33.911543,2.066942,252635.0,1.106300e+04
...,...,...,...,...,...,...
2018-01-22,10544.593333,16820025.0,1.206450,103.148288,294629301.0,2.099491e+09
2018-01-23,11223.064000,16822237.5,1.399833,103.113799,294901237.0,2.003121e+09
2018-01-24,11282.258333,16824437.5,1.333913,111.888553,295151660.0,2.100547e+09
2018-01-25,11214.440000,16826412.5,1.159855,104.088588,295388240.0,2.123135e+09
2018-01-26,10969.815000,16828350.0,0.834349,106.814230,295608699.0,2.822338e+09
2018-01-27,11524.776667,16830312.5,1.778601,126.855696,295802277.0,1.380662e+09
2018-01-28,11765.710000,16832287.5,1.302242,117.430262,296015723.0,1.924759e+09
2018-01-29,11212.655000,16834137.5,1.243012,96.382352,296247899.0,1.800278e+09
2018-01-30,10184.061667,16836225.0,1.301143,96.749249,296484508.0,1.759356e+09
2018-01-31,10125.013333,16837687.5,1.016284,80.529148,296688784.0,1.618659e+09
2018-02-01,9083.258333,16839687.5,0.799509,78.049647,296946448.0,2.515366e+09
2018-02-02,8901.901667,16841787.5,0.717894,89.591902,297182366.0,2.944217e+09
2018-02-03,9076.678333,16843762.5,1.290914,98.824757,297377257.0,1.491970e+09
2018-02-04,8400.648333,16845987.5,1.208997,112.999677,297550944.0,1.623377e+09
2018-02-05,6838.816667,16848300.0,0.967008,78.586115,297767307.0,1.758323e+09
2018-02-06,7685.633333,16850425.0,0.800015,72.073119,298011427.0,2.199270e+09
2018-02-07,8099.958333,16852187.5,0.905838,71.480272,298225146.0,1.686471e+09
2018-02-08,8240.536667,16853825.0,0.805963,82.053232,298398435.0,1.764215e+09
2018-02-09,8535.516667,16855512.5,0.890279,85.223878,298576295.0,1.702604e+09
2018-02-10,8319.876566,16857300.0,1.614559,85.874632,298758078.0,9.668616e+08
2018-02-11,8343.455000,16859187.5,2.272316,110.491753,298905286.0,7.158013e+08
2018-02-12,8811.343333,16861262.5,1.184872,101.114203,299092204.0,1.595114e+09
2018-02-13,8597.767500,16863312.5,1.441899,99.544224,299275188.0,1.263264e+09
2018-02-14,9334.633333,16865550.0,1.553881,109.366318,299471605.0,1.382436e+09
2018-02-15,9977.154000,16867187.5,1.317213,85.662879,299669788.0,1.288852e+09
2018-02-16,10127.161667,16869150.0,1.893340,109.005818,299857526.0,1.080869e+09
2018-02-17,10841.991667,16871012.5,2.362525,119.228205,300031315.0,8.770509e+08
2018-02-18,10503.298333,16873037.5,2.598018,136.289229,300190810.0,8.366936e+08
2018-02-19,11110.965000,16875062.5,2.006207,123.102480,300378177.0,1.149699e+09
2018-02-20,11390.391667,16876825.0,1.391617,104.157082,300576632.0,1.485358e+09

In [108]:
# Now review the TCP index
tcp_df.set_index('Fecha',inplace = True)

In [109]:
tcp_df.head(5)

              Dolar
Fecha
2011-03-01  12.2574
2011-04-01  12.2619
2011-05-01  12.2064
2011-06-01  12.2256
2011-07-01  12.2369

In [115]:
tcp_db = tcp_df.loc['2011-01-02':'2018-02-20'].copy()

In [116]:
tcp_db.head(1)

              Dolar
Fecha
2011-03-01  12.2574

In [117]:
tcp_db.tail(1)

              Dolar
Fecha
2018-01-11  20.1329

In [118]:
tcp_db.count()

Dolar    1793
dtype: int64

#### To create a similar period of measurement, we will need to resample both data sets.

In [91]:
bitcoin_db = bitcoin_db.resample(rule='W').mean()
bitcoin_db.head(5)

,btc_market_price,btc_total_bitcoins,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_transactions_total,btc_estimated_transaction_volume_usd
Date,,,,,,
2011-01-02,0.299996,5.036250e+06,54.382899,4.553059,219086.000000,4965.000000
2011-01-09,0.309399,5.067007e+06,41.797444,2.283450,223286.000000,6147.285714
2011-01-16,0.380429,5.124764e+06,28.004795,2.794146,231698.428571,14005.142857
2011-01-23,0.401227,5.184629e+06,23.476592,3.455495,238803.285714,15461.571429
2011-01-30,0.440914,5.244129e+06,30.045336,3.180114,246613.285714,52675.714286

In [95]:
bitcoin_db.count()

btc_market_price                        374
btc_total_bitcoins                      374
btc_cost_per_transaction_percent        374
btc_cost_per_transaction                374
btc_n_transactions_total                374
btc_estimated_transaction_volume_usd    374
dtype: int64

In [119]:
tcp_db = tcp_db.resample(rule = 'W').mean()

In [98]:
tcp_db.head(5)

                Dolar
Fecha
2011-01-02  12.017000
2011-01-09  11.868600
2011-01-16  12.851875
2011-01-23  12.053780
2011-01-30  12.064660

In [99]:
tcp_db.count()

Dolar    374
dtype: int64

In [153]:
tcp_db.rename_axis('date', inplace = True)

In [155]:
tcp_db.rename(columns={'Dolar': 'dolar'}, inplace = True)

In [156]:
tcp_db.head(5)

                dolar  id
date
2011-01-02  12.017000   1
2011-01-09  11.868600   2
2011-01-16  12.851875   3
2011-01-23  12.053780   4
2011-01-30  12.064660   5

In [159]:
bitcoin_db.head(1)

,btc_market_price,btc_total_bitcoins,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_transactions_total,btc_estimated_transaction_volume_usd,id
date,,,,,,,
2011-01-02,0.299996,5036250.0,54.382899,4.553059,219086.0,4965.0,1

In [158]:
bitcoin_db.rename_axis('date', inplace=True)

### With the same period, we can compare the trend of both data sets

In [135]:
tcp_db['id'] = np.arange(1,len(tcp_db)+1)

In [137]:
tcp_db.head(3)

                Dolar  id
Date
2011-01-02  12.017000   1
2011-01-09  11.868600   2
2011-01-16  12.851875   3

In [140]:
bitcoin_db['id'] = np.arange(1,len(bitcoin_db)+1)

In [165]:
bitcoin_db['id'].head(3)

date
2011-01-02    1
2011-01-09    2
2011-01-16    3
Freq: W-SUN, Name: id, dtype: int64

In [177]:
bitcoin_db.head(2)

,btc_market_price,btc_total_bitcoins,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_transactions_total,btc_estimated_transaction_volume_usd,id,date
date,,,,,,,,
2011-01-02,0.299996,5.036250e+06,54.382899,4.553059,219086.0,4965.000000,1,2011-01-02
2011-01-09,0.309399,5.067007e+06,41.797444,2.283450,223286.0,6147.285714,2,2011-01-09

In [176]:
bitcoin_db['date'] = bitcoin_db.index

In [183]:
tcp_db['date'] = tcp_db.index

# Create database connection

In [178]:
rds_conn = "postgres:adriana@localhost:5432/bitcoin_db"
engine = create_engine(f'postgresql://{rds_conn}')

In [180]:
engine.table_names()

['tcp', 'bitcoin']

In [181]:
# new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)
bitcoin_db.to_sql(name='bitcoin', con=engine, if_exists='append', index=False)

In [182]:
pd.read_sql_query('SELECT * FROM bitcoin', con = engine).head(3)

,date,btc_market_price,btc_total_bitcoins,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_transactions_total,btc_estimated_transaction_volume_usd,id
0,2011-01-02,0.299996,5.036250e+06,54.382899,4.553059,219086.000000,4965.000000,1
1,2011-01-09,0.309399,5.067007e+06,41.797444,2.283450,223286.000000,6147.285714,2
2,2011-01-16,0.380429,5.124764e+06,28.004795,2.794146,231698.428571,14005.142857,3

In [184]:
tcp_db.to_sql(name='tcp', con=engine, if_exists='append', index=False)

In [186]:
pd.read_sql_query('SELECT * FROM tcp', con = engine).head(2)

         date    dolar  id
0  2011-01-02  12.0170   1
1  2011-01-09  11.8686   2